{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-8">

                <h1>Character list</h1>
                <ul>
                {% for slug in characters %}
                    <li>{{slug}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
